
@keyframes pulsePause {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}

#pause.pulse {
    animation: 0.3s forwards pulsePause;
}
